.logo {
  width: 100px; }

.estiloEncabezado {
  position: sticky;
  top: 0;
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  border-bottom: 1px #444444;
  border-bottom: 2px;
  font-weight: bold;
  font-family: 'Dosis', sans-serif;
  font-size: 2rem; }

.container-m {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px; }

.card {
  background-color: #fff;
  padding: 15px;
  border: none;
  height: 250px;
  margin-top: 10px; }

.user-image img {
  border: 3px solid #f4eeb1;
  padding: 2px; }

.logoDos {
  width: 35%; }

.pie {
  background-color: white; }

.redes {
  width: 2rem; }

* {
  margin: 0;
  padding: 0; }

.carruselTam {
  height: calc(100vh - 137,58px); }

.fondoPantalla {
  background-color: #f4eeb1; }

.sobreNosotros {
  font-size: 20px;
  margin: auto;
  margin-top: 5rem;
  margin-bottom: 4rem; }

.textoMargen {
  margin-left: 3rem;
  margin-right: 3rem; }

/* Contacto  */
.contactanos {
  border-radius: 5px;
  box-shadow: -10px 2px 10px; }

/*Galeria*/
#galeria .col-lg-4 {
  margin: 0;
  padding: 25px; }

.fotosGaleria {
  width: 100%;
  transition: 0.3s;
  border-radius: 5px; }

.fotosGaleria:hover {
  border: 5px solid #f4eeb1;
  transform: scale(1.1); }

.ubicacion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 9%; }

.subtitulos {
  text-align: center;
  font-weight: bold;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 2rem; }
