@import "variables";
.logo{
    width: 100px;
  
  }
  .estiloEncabezado{
    
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border-bottom: 1px #444444;
    border-bottom: 2px; 
    font-weight: bold;
    font-family: $fuente ;
    font-size: 2rem;
   
  }
  