@import "head";
@import "review";
@import "footer";
@import "variables";
*{
  margin: 0;
  padding: 0;
}


  .fondoPantalla{
    background-color: #f4eeb1;
    
  }
 

  .sobreNosotros{
    font-family: $fuente;
    font-size: 20px;
    margin: auto;
    margin-top: 5rem;
    margin-bottom: 4rem;      
}

.textoMargen{
  margin-left: 3rem;
  margin-right: 3rem;
  font-family: $fuente;
}

.texto{
  font-family: $fuente;
}


/* Contacto  */
.contactanos {
  border-radius: 5px;
  box-shadow: -10px 2px 10px;
}


/*Galeria*/ 
  #galeria .col-lg-4{
    margin: 0;
    padding: 25px;
  }
  
  .fotosGaleria{
    width: 100%;
    transition:0.3s;
    border-radius: 5px;
  }
  
 .fotosGaleria:hover {
     border: 5px solid #f4eeb1;
     transform: scale(1.1);
    }

  .subtitulos{
    text-align: center;
    font-weight: bold;
    margin-top: 2rem ;
    margin-bottom: 2rem;
    font-size: 2rem;
    font-family: $fuente;
  }
 /*grid ubicacion*/
  .grid{
    display: grid;
    grid-template-areas:
     "mapa indicaciones";
  }
  .indicaciones{
    grid-area: indicaciones;
    padding: 1rem 1rem;
    width: 100%;
    font-family: $fuente;
  }
  .mapa{
    grid-area: mapa;
    padding: 0 2rem ;
    width: 100%;
  }
  
  
 /*grid tablet*/

 @media screen and (max-width: 800px){
   .grid{
     grid-template-areas: 
     "mapa mapa"
     "indicaciones indicaciones";
   }
 }
  